<nav>
    <a routerLink="/home" routerLinkActive="active">Home</a>
    |
    <a routerLink="/contact" routerLinkActive="active">Contact</a>
    |
    <a routerLink="/register" routerLinkActive="active">Register</a>
    |
    <a routerLink="/login" routerLinkActive="active">Login</a>
    |
    <a routerLink="/logout" routerLinkActive="active">Logout</a>
    |
    <a routerLink="/my-cars" routerLinkActive="active">My Cars</a>
    |
    <a routerLink="/my-service-items" routerLinkActive="active">My Service Items</a>
</nav>

<h1>CarService</h1>

<router-outlet></router-outlet>
