html {
    font-family: Open Sans;
}

body {
    background-color: lemonchiffon;
}

h1, div {
    padding: 10px;
}

h2 {
    color: red;
}

.block {
    float: left;
    border: 1px dashed green;
    margin: 10px;
    border-radius: 5px;
}
