<!DOCTYPE html>
<html>
<head>
<link rel="stylesheet" href="/css/style.css">
</style>
</head>
<body>
    <h1>Car Service</h1>

    <div class="block">
        <h2>My Cars</h2>
        <ul>
           <li>Mazda
           <li>Nemazda
        </ul>
        <a href="/cars/new">New car...</a>
        
    </div>
    <div class="block">
        <h2>Last service items</h2>
        <ul>
            <li>Majaga
            <li>Bajaga
        </ul>
        <a href="/service_items/new">New service item...</a>
    </div>
</body>
</html>